APP_PORT=3000
NODE_ENV=dev

DATABASE_URL="mysql://user:password@localhost:3306/perisai_db"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_NAME="perisai_db"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

SALT_LENGTH=32
PASSWORD_ITERATIONS=100000
KEY_LENGTH=64
PASSWORD_EXPIRY_DAYS=30

# Generate dengan: openssl rand -hex 32
ACCESS_TOKEN_SECRET=6dbea9f3ad264388b06a28e9e98474e6b43a3870418252ca51d2a25eaec645a2
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY_DAYS=7

ALLOWED_ORIGINS=http://localhost:5173

# Generate dengan: openssl rand -hex 32
TOTP_ENCRYPTION_KEY=8a8ca1949476b7e63a9f47fba07444ad0c8f99a2b3610b2d6652e1771cd8fb8d
JWT_TOTP_SECRET=8f3b09de5423a1d04482b78e75186317f9550a2c867df02537bd9ba285256834
