APP_PORT=3000
NODE_ENV=dev

DATABASE_URL="mysql://user:password@localhost:3306/perisai_db"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_NAME="perisai_db"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

SALT_LENGTH=32
PASSWORD_ITERATIONS=100000
KEY_LENGTH=64
PASSWORD_EXPIRY_DAYS=30

# Generate dengan: openssl rand -hex 32
ACCESS_TOKEN_SECRET=your_access_token_secret_here
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY_DAYS=7

ALLOWED_ORIGINS=http://localhost:5173

# Generate dengan: openssl rand -hex 32
TOTP_ENCRYPTION_KEY=your_totp_encryption_key_here
JWT_TOTP_SECRET=your_jwt_totp_secret_here
